/* DISPLAY
-------------------------*/

@font-face {
    font-family: "abrilfatface";
    src: url("../../fonts/display/abrilfatface/AbrilFatface-Regular.otf");
}

@font-face {
    font-family: "bebasneue";
    src: url("../../fonts/display/bebasneue/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "costura";
    src: url("../../fonts/display/costura/costura_regular.otf");
}

@font-face {
    font-family: "kanji";
    src: url("../../fonts/display/kanji/Kanji_PA.ttf");
}

@font-face {
    font-family: "label";
    src: url("../../fonts/display/label/Impact_Label.ttf");
}

@font-face {
    font-family: "leaguegothic";
    src: url("../../fonts/display/leaguegothic/LeagueGothic-Regular.otf");
}

@font-face {
    font-family: "liquido";
    src: url("../../fonts/display/liquido/LIQUIDO-Fluid.otf");
}

@font-face {
    font-family: "lombok";
    src: url("../../fonts/display/lombok/Lombok.otf");
}

@font-face {
    font-family: "madsquire";
    src: url("../../fonts/display/madsquire/MadSquire-Regular.otf");
}

@font-face {
    font-family: "pirou";
    src: url("../../fonts/display/pirou/Pirou-Regular.otf");
}