/* SANS SERIF
-------------------------*/

@font-face {
    font-family: "alegreya";
    src: url("../../fonts/sansserif/alegreya/AlegreyaSans-Regular.otf");
}

@font-face {
    font-family: "clear";
    src: url("../../fonts/sansserif/clear/ClearSans-Regular.ttf");
}

@font-face {
    font-family: "droidsans";
    src: url("../../fonts/sansserif/droidsans/DroidSans.ttf");
}

@font-face {
    font-family: "exo";
    src: url("../../fonts/sansserif/exo/Exo-Regular.otf");
}

@font-face {
    font-family: "josefinsans";
    src: url("../../fonts/sansserif/josefinsans/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: "lato";
    src: url("../../fonts/sansserif/lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "merriweathersans";
    src: url("../../fonts/sansserif/merriweathersans/MerriweatherSans-Regular.otf");
}

@font-face {
    font-family: "montserrat";
    src: url("../../fonts/sansserif/montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "raleway";
    src: url("../../fonts/sansserif/raleway/Raleway-Regular.ttf");
}

@font-face {
    font-family: "sourcesanspro";
    src: url("../../fonts/sansserif/sourcesanspro/SourceSansPro-Regular.otf");
}