/* SCRIPT
-------------------------*/

@font-face {
    font-family: "3dumb";
    src: url("../../fonts/script/3dumb/3Dumb.ttf");
}

@font-face {
    font-family: "amatic";
    src: url("../../fonts/script/amatic/Amatic-Bold.ttf");
}

@font-face {
    font-family: "lobstertwo";
    src: url("../../fonts/script/lobstertwo/LobsterTwo-Bold.otf");
}

@font-face {
    font-family: "mathlete";
    src: url("../../fonts/script/mathlete/Mathlete-Bulky.otf");
}

@font-face {
    font-family: "pacifico";
    src: url("../../fonts/script/pacifico/Pacifico.ttf");
}

@font-face {
    font-family: "permanentmarker";
    src: url("../../fonts/script/permanentmarker/PermanentMarker.ttf");
}

@font-face {
    font-family: "ph";
    src: url("../../fonts/script/ph/PH-400RegularCaps.otf");
}

@font-face {
    font-family: "preludeflf";
    src: url("../../fonts/script/preludeflf/PreludeFLF.ttf");
}

@font-face {
    font-family: "sacramento";
    src: url("../../fonts/script/sacramento/Sacramento-Regular.ttf");
}

@font-face {
    font-family: "yellowtail";
    src: url("../../fonts/script/yellowtail/Yellowtail-Regular.otf");
}