/* SERIF
-------------------------*/

@font-face {
    font-family: "alegreyaserif";
    src: url("../../fonts/serif/alegreya/Alegreya-Regular.otf");
}

@font-face {
    font-family: "andada";
    src: url("../../fonts/serif/andada/Andada-Regular.otf");
}

@font-face {
    font-family: "crimson";
    src: url("../../fonts/serif/crimson/CrimsonText-Regular.ttf");
}

@font-face {
    font-family: "droidserif";
    src: url("../../fonts/serif/droidserif/DroidSerif-Regular.ttf");
}

@font-face {
    font-family: "josefinslab";
    src: url("../../fonts/serif/josefinslab/JosefinSlab-Regular.ttf");
}

@font-face {
    font-family: "librebaskerville";
    src: url("../../fonts/serif/librebaskerville/LibreBaskerville-Regular.otf");
}

@font-face {
    font-family: "lora";
    src: url("../../fonts/serif/lora/Lora-Regular.ttf");
}

@font-face {
    font-family: "merriweather";
    src: url("../../fonts/serif/merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: "sanchez";
    src: url("../../fonts/serif/sanchez/Sanchezregular.otf");
}

@font-face {
    font-family: "sourceserifpro";
    src: url("../../fonts/serif/sourceserifpro/SourceSerifPro-Regular.otf");
}