$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 1;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: $white;
  padding: 8em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("../../images/shop/6.jpg") repeat;
  background-position: top;
  background-size: cover;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/
